# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# Streamlit specific files
.streamlit/

draft.ipynb

# Model files

*.h5

# Logs
*.log

# Virtual environment
venv/
env/